cva6/tools/
cva6/verif/core-v-verif/vendor/riscv/riscv-isa-sim/build/
cva6/work-ver/
cva6/verif/tests/
*.so
*.a
*.bin
*.dasm
*.vcd
*.elf
*.o
*.d
build/
riscv-toolchain/
riscv-openocd/
zephyrproject/build/
zephyrproject/zephyr-sdk-1.0.1/
zephyrproject/zephyr-sdk-1.0.1_linux-x86_64_gnu.tar.xz
